################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
/RambleWPF/.vs/RambleWPF/FileContentIndex
/RambleWPF/bin/Debug
/RambleWPF/obj/Debug
/RambleWPF/packages
